body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f7f3e9; /* Cor de fundo pastel */
    margin: 0;
    padding: 0;
    color: #333;
}

#Corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    transition: transform 0.6s;
}

input[type="number"], button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="number"]:focus {
    border-color: #999;
}

button {
    background-color: #a2d5c6; /* Cor pastel */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #89c0a7; /* Cor pastel mais escura */
    transform: scale(1.05);
}

h1 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

#creditos {
    color: #999;
    margin-top: 20px;
    font-size: 14px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    color: #666; /* Cor do texto em pastel suave */
}

#Corpo.rotating {
    transform: rotateY(360deg);
}
