body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: url("candlelights-1868525_1280.jpg") ;
  }
  
  #Corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5); /* 0.5 representa 50% de opacidade */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

  
  input[type="number"], button {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  button {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border-radius: 90px;
  }
  
  h1 {
    margin: 10px;
    font-size: 24px;
    color: #000000;
  }

  #creditos{

    color:rgb(253, 253, 253);
  }
  img{
    width: 20px;

  }
  